* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

main {
    font-family: Inter;
    line-height: 1.25rem;
    display: flex;
    overflow: hidden;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 24.99%;
}

.col-4 {
    width: 33.32%;
}

.col-5 {
    width: 41.65%;
}

.col-6 {
    width: 49.98%;
}

.col-7 {
    width: 58.31%;
}

.col-8 {
    width: 66.64%;
}

.col-9 {
    width: 74.97%;
}

.col-10 {
    width: 83.3%;
}

.col-11 {
    width: 91.63%;
}

.col-12 {
    width: 99.96%;
}

/* left nav */
.left-nav {
    display: flex;
    padding: 1rem 0 0 5vw;
}

.nav-img {
    margin-right: 0.313rem;
    width: 1.75rem;
}

.nav-a {
    font-weight: 700;
    text-decoration: none;
    color: #000;
    font-size: 1.125rem;
}

/* login form */
#login {
    margin: 16vh 5vw 0;
    padding: 0.3rem 1rem 0.3rem 0.5rem;
    box-sizing: content-box;
    overflow: hidden;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.75rem;
}

h2 span {
    color: #FE9A22;
    font-weight: 700;
}

.group {
    margin: 2rem 0 0 0;
}

.password {
    font-weight: 700;
    font-size: 1rem;
}

.input-field {
    display: flex;
    margin: 1rem 0 0.6rem 0;
}

.icon {
    position: absolute;
    z-index: 1;
    margin: 0 0 0 10px;
    color: #27B46E;
}

.pass-input {
    position: relative;
    width: 30vw;
    border: none;
    border-bottom: 1px solid #27B46E;
    padding: 0 4.9rem 0.4rem 2.3rem;
    font-size: 1rem;
}

input:focus,
button:focus {
    outline: none;
}

.show {
    position: absolute;
    margin: 0 0 0 -4.125rem;
    font-size: 1rem;
    font-weight: 500;
    z-index: 3;
}

.show a {
    color: #969BAB;
    text-decoration: none;
}

.forgot {
    display: block;
    width: 30vw;
    text-align: right;
    font-weight: 300;
    font-size: 0.75rem;
}

.forgot a {
    color: #000;
    text-decoration: none;
}

.show a:hover,
.forgot a:hover,
.signup-link a:hover {
    text-decoration: underline;
}

.login-btn {
    margin: 2rem 0 0 0;
    text-align: center;
}

.btn {
    width: 30vw;
    Padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 6px;
    color: #FFF;
    background-color: #27B46E;
    font-size: 1rem;
    font-weight: 500;
}

.btn:hover {
    width: 28vw;
    font-weight: 700;
}

.signup-link {
    text-align: center;
    margin: 1rem 0 0 0;
    font-size: 0.875rem;
}

.signup-link a {
    text-decoration: none;
    color: #000;
}

.login-img {
    width: 18vw;
    height: 150px;
    object-fit: cover;
    margin: 3.4rem 0 0 0;
}

/* right side of the page */
.right {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 3rem 0 0;
}

.right li {
    margin: 0 0.7rem 0 0;
    padding: 0.4rem 0.9rem;
    font-weight: 500;
    font-size: 0.875rem;
}

li a {
    color: #18191F;
    text-decoration: none;
}

.nav-login {
    background-color: #AFE3C9;
    border-radius: 6px;
}

.nav-login a {
    color: #27B46E;
    font-weight: bold;
}

.nav-signup {
    border: 1px solid #AFE3C9;
    border-radius: 6px;
}

.nav-signup a {
    color: #FFF;
    font-weight: 500;
}

#testimonials {
    background-color: #27B46E;

}

.background-img {
    width: 100%;
    height: 601px;
    object-fit: contain;
    padding: 1rem;
}