*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
    /* overflow: hidden; */
}
.wrapper{
    margin: auto auto;
    display: grid;
    grid-template-columns: max-content auto;
    grid-column: 0px;
    padding: 0;
    position: relative;
    min-height: 100vh;
}
.top{
    background:#FFFFFF;
    height: 68px;
}
#hamburger{
    font-size: 30px;
}
.fa{
    font-size: 24px;
}
#navBar{
    background:#27B46E;
    position: sticky;
}
.fa-bars{
    float: right;
    padding: 14px;
}
#options{
    padding-top: 71px;
    width: 268px;
}
#options h3{
    font-size: 24px;
    font-family: inter;
    margin-left: 34px;
    color: #FFFFFF;
    font-weight: 700;
}
.options{
    margin: 20px 0;
    justify-content: center;
    height: 46px;
    padding-top: 11px;
}
.options .fa{
    color: #27B46E;
    background-color: #FFFFFF;
    border-radius: 100%;
    padding: 3px 4px;
    margin-left: 29px;
    margin-right: 5px;
    height: 24px;
    width: 24px;
    font-size: unset;
}
.options a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: inter;
    font-size: 20px;
}
.options:hover{
    background-color: white;
}
.options:hover a{
    color: #27B46E;
}
#text{
    font-weight: 500;
}
#main{
    /* background-color: pink; */
    height: 100vh;
    overflow: scroll;
}

#dashboardTop{
    border-style: none none solid solid;
    border-color: #F4F5F7;
    border-width: 2px;
    font-size: 24px;
}
#screenTopMobile{
    display: none;
}
.fa-angle-left{
    padding: 20px 13px;
}
#right{
    width: 37px;
    height: 37px;
    background-color: #FFC278;
    color: #FFFFFF;
    border-radius: 100%;
    float: right;
    text-align: center;
    align-items: center;
    margin: 15px 16px;
    padding-top: 5px;
    font-weight: 700;
}


@media only screen and (max-width:1024px){
    .wrapper{
        display: block;
    }
    .top{
        height: 80px;
    }
    .fa-angle-left{
        padding-top: 30px;
        font-size: 30px;
    }
    #right{
        margin-top: 25px;
        padding-top: 1px;
    }
    #dashboardTop{
        background: #27B46E;
        color: #FFFFFF;
        font-size: 30px;
    }
    #screenTopMobile{
        display: unset;
    }
    #screenTopDesktop{
        display: none;
    }
    #navBar{
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: fit-content;
        background:none;
    }
    #hamburger, #options h3{
        display: none;
    }
    #options{
        padding-top: 1px;
        width: 100vw;
        display: grid;
        margin: auto;
        grid-template-columns:auto auto;
    }
    #text{
        display: none;
    }
    hr{
        display: block;
    }
    .options{
        margin: unset;
        background-color:black;
        height: fit-content;
        padding-top: 0;
    }
    .options .fa{
        color: #27B46E;
        background:none;
        margin: 10px auto;
        margin-left: 20vw;
        font-size: 40px;
    }

}
@media only screen and (max-width:900px){
    .top{
        height: 50px;
    }
    .fa-angle-left{
        padding-top: 10px;
        font-size: 24px;
    }
    #right{
        margin-top: 5px;
        padding-top: 3px;
        width: 30px;
        height: 30px;
    }
    #dashboardTop{
        font-size: 21px;
    }
    .options .fa{
        font-size: 21px;
    }
}
