*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    margin: auto auto;
    display: grid;
    grid-template-columns: max-content auto;
    grid-column: 0px;
    padding: 0;
    position: relative;
    height: 100vh;
}
.wrap{
    padding: 30px 51px;
}
h2{
    color: #868686;
    margin-bottom: 15px;
}
span{
    font-weight: 600;
}
#name{
    color: #FE9A22;
}
table,tr{
    border-collapse: collapse;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
tr{
     height: 59px;
}
th{
    background-color: #F4F4F4;
    color: #868686;
    font-size: 18px;
    font-weight: 800;
}
td{
    font-size: 20px;
    font-weight: 500;
}
td.number{
    color: #868686;
}
.successfulDonations td.donation, .successfulDonations td.edit{
    color: #27B46E;
}
.number{
    width: 10vw;
    text-align: center;
}
.donation{
    width: 60vw;
    text-align: left;
}
.edit{
    width: 15vw;
    text-align: center;
}
td.edit{
    font-weight: 600;
}
.pendingDonations td.donation{
    color:#FE9A22;
}
button{
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 5px;
}
.successfulDonations button{
    color: #27B46E;
    background-color: #AFE3C9;
}
.pendingDonations button{
    color: #FFFFFF;
    background-color: #27B46E;
}

@media only screen and (orientation:portrait){
    .wrap{
        padding: 25px 20px;
    }
    tr{
        height: 50px;
    }
    th{
        font-size: 17px;
    }
    td {
        font-size: 20px;
    }
    .donation{
        width: 50vw;
    }
    .edit{
        width: 30vw;
    }
    button{
        padding: 5px;
    }
}

@media only screen and (orientation:portrait) and (max-width:740px){
    tr{
        height: 30px;
    }
    th{
        font-size: 14px;
    }
    td {
        font-size: 15px;
    }
    button{
        padding: 3px;
    }
}


@media only screen and (orientation:portrait) and (max-width:360px){
    th{
        font-size: 12px;
    }
    td {
        font-size: 13px;
    }
}
