/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  color: #4a4a4a;
  background-color: #e5e5e5;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

i,
a,
button {
  cursor: pointer;
}
.container {
  width: 90%;

  margin: 20px auto;
}
.s {
  display: flex;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #27b46e;
}
.left .background {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  justify-content: center;
}
.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 29px;
}
.footer-text h4 {
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  color: #ffffff;
}
.footer-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  color: #18191f;
}

.right {
  background-color: #fff;
}
.right h4 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 20px;
  color: #000000;
  margin: 40px 0;
}
.organisation {
  color: #27b46e;
}
form {
  width: 700px;
  padding-left: 80px;
}
.line {
  border-style: none;
  border: none;
  border-bottom: 2px solid #27b46e;
  width: 500px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
label {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.icon {
  margin-top: 20px;
}
button {
  background: #27b46e;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border-style: none;
  padding: 15px 20px;
  width: 500px;
  margin-top: 20px;
}
.user {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding-top: 20px;
  text-align: center;
  color: #343434;
  margin-bottom: 15px;
}
.user a {
  color: #fe9a22;
}
.footer-logo {
  display: flex;
  justify-content: flex-end;

  margin: 20px 0 20px auto;
}
.footer-logo img {
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    display: none;
  }
  .footer-logo {
    display: none;
  }
}
